section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
div{
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
p{
  font-weight: bold;
  font-size: 4rem;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input{
  border: none;
  margin: 2rem 0;
  font-size: 2rem;
  background-color: transparent;
  text-align: center;
}

.title-alert{
  color: var(--nord4);
}
.text-alert{
  color: var(--nord4);
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
fa-icon{
  font-size: 3rem;
}

button{
  font-size: 3rem;
  margin: 3rem auto;
  padding: 1rem;
  background-color: transparent;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
fa-icon{
  cursor: pointer;
}
@media (max-width: 1000px){
  div{
    align-items: center;
    flex-direction: row;
  }
  button{
    margin: 0;
  }
}
@media(max-width:830px){
  div{
    margin: 0 auto;
    width: 70%;
    gap: 3rem;
    justify-content: center;
  }
  input{
    width: 50%;
  }
  section{
    margin: 0 auto;
  }
}
@media (max-width: 430px){
  div{
    width: 100%;
  }
}
