<main>
  <app-game-tabs [scores]= "scores"/>
  <section>
    <aside>
      <app-board [board]= "board" />
      <app-control-panel [gamesList]= "gamesList" [(board)]= "board" [(currentGame)] = "currentGame" [(currentMove)] = "currentMove" />
    </aside>
    <div>
      <app-pgn-viewer [gamesList]= "gamesList" [(board)]= "board" [(currentGame)] = "currentGame" [(currentMove)] = "currentMove" />
      <app-player-input [(board)] = "board" [matchsPgn] = "matchsPgn" [(currentMove)] = "currentMove" [(currentGame)] = "currentGame" [(scores)] = "scores" />
    </div>
  </section>
</main>

