main{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  height: 80vh;
  margin: 0 auto;
  overflow: auto;
  gap: 3rem;
  background: var(--nord1);
  padding: 3rem;
  border-radius: 5rem;
}
.end{
  justify-content: center;
  align-items: center;
}
strong{
  font-size: 3rem;
  background-color: var(--nord2);
  text-align: center;
  padding: 3rem;
  border-radius: 2rem;
}
p{
  font-weight: normal;
}
input{
  border: none;
  background-color: transparent;
  margin: 2rem;
}
button{
  margin: 0 auto;
}
section{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
aside{
  display: flex;
  flex-direction: column;
}
app-board{
  flex-basis: 90%;
}
div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem 0;
  height: 30vh;
}

app-pgn-viewer{
  flex-basis: 50%;
  height: 100%;
  overflow: auto;
  border-radius: 0.5rem;
}
app-match-info{
  flex-basis: 50%;
}
app-player-input{
  flex-basis: 100%;
  height: 100%;
}
