<div>
  <fa-icon [icon] = "faChess" />
  <fa-icon [icon] = "faDatabase" />
</div>
<section>
  <h2>Información adicional</h2>
  <ul>
    <li>Las partidas fueron jugadas en Lichess</li>
    <li>Los ritmos de juego de las partidas son: bala, blitz, rápido y clásico</li>
    <li>Se le informará en cada ronda sobre el ritmo de juego de la partida</li>
    <li>Actualmente Adivina el ELO utiliza una base de datos con más de 4 millones de partidas</li>
    <li>Puede encontrar la base de datos haciendo click <a target="_blank" href="https://database.lichess.org/">aquí</a></li>
  </ul>
</section>
