<main>
  <ul>
    <li>
      <fa-icon [icon]="faQuestion"> </fa-icon>
      <p>Adivina</p>
    </li>
    <li>
      <fa-icon [icon]="faTrophy"> </fa-icon>
      <p>Compite</p>
    </li>
    <li>
      <fa-icon [icon]="faLightbulb"> </fa-icon>
      <p>Aprende</p>
    </li>
  </ul>
  <button routerLink="/game">Jugar</button>
  <div>
    <h2>
      ¿Cómo jugar?
      <span>
        Al presionar el botón de jugar le aparecerá una partida de ajedrez, debe de analizarla y tratar de adivinar el
        ELO
        promedio de la partida, es decir, si el jugador de blancas tiene 1500 de ELO y el de negras 1400 la respuesta
        correcta y que más puntos dará será 1450, entre más se acerque a ese número mayor será su puntuación. Esto se
        repetirá en 5 rondas, una vez acabado recibirá su puntuación total.
      </span>
    </h2>
    <app-ranking />
  </div>
  <app-data />

</main>
