<main>
  <ul>
    <li>
      <fa-icon [icon]="faQuestion"> </fa-icon>
      <p>Trata de adivinar el ELO de los jugadores mirando las jugadas de su partida</p>
    </li>
    <li>
      <fa-icon [icon]="faTrophy"> </fa-icon>
      <p>Compite contra otros jugadores por ser el mejor adivinando ELO</p>
    </li>
    <li>
      <fa-icon [icon]="faDatabase"> </fa-icon>
      <p>Explora más de 4 millones de partidas disponibles</p>
    </li>
  </ul>
  <button>Jugar</button>
  <h3>¿Cómo jugar?</h3>
  <span>
    Al presionar el botón de jugar le aparecerá una partida de ajedrez, debe de analizarla y tratar de adivinar el ELO
    promedio de la partida, es decir, si el jugador de blancas tiene 1500 de ELO y el de negras 1400 la respuesta
    correcta y que más puntos dará será 1450, entre más se acerque a ese número mayor será su puntuación. Esto se
    repetirá en 5 rondas, una vez acabado recibirá su puntuación total.
  </span>
  <app-ranking />
</main>
